{{content
| replace: "wikipedia", "wiki&shy;ped&shy;ia"
| replace: "unreasonable", "un&shy;rea&shy;son&shy;able"
| replace: "supporting", "sup&shy;port&shy;ing"
| replace: "successes", "suc&shy;cesses"
| replace: "statement", "state&shy;ment"
| replace: "specifying", "spec&shy;i&shy;fy&shy;ing"
| replace: "something", "some&shy;thing"
| replace: "somebody", "some&shy;body"
| replace: "services", "ser&shy;vices"
| replace: "secondary", "sec&shy;ondary"
| replace: "reviewing", "review&shy;ing"
| replace: "resource", "re&shy;source"
| replace: "requirement", "require&shy;ment"
| replace: "requests", "re&shy;quests"
| replace: "reasonable", "rea&shy;son&shy;able"
| replace: "question", "ques&shy;tion"
| replace: "providing", "pro&shy;vid&shy;ing"
| replace: "project", "proj&shy;ect"
| replace: "product", "prod&shy;uct"
| replace: "problem", "prob&shy;lem"
| replace: "probably", "prob&shy;a&shy;bly"
| replace: "possible", "pos&shy;si&shy;ble"
| replace: "outsourcing", "out&shy;sourc&shy;ing"
| replace: "opportunity", "op&shy;por&shy;tu&shy;ni&shy;ty"
| replace: "mcconnell", "mc&shy;con&shy;nell"
| replace: "management", "man&shy;age&shy;ment"
| replace: "knowing", "know&shy;ing"
| replace: "interested", "in&shy;terest&shy;ed"
| replace: "indicator", "in&shy;di&shy;cator"
| replace: "inconsistent", "in&shy;con&shy;sis&shy;tent"
| replace: "impossible", "im&shy;pos&shy;si&shy;ble"
| replace: "important", "im&shy;por&shy;tant"
| replace: "however", "how&shy;ever"
| replace: "guaranteed", "guar&shy;an&shy;teed"
| replace: "flexibility", "flex&shy;i&shy;bil&shy;i&shy;ty"
| replace: "example", "ex&shy;am&shy;ple"
| replace: "everybody", "every&shy;body"
| replace: "estimation", "es&shy;ti&shy;ma&shy;tion"
| replace: "estimate", "es&shy;ti&shy;mate"
| replace: "essentially", "essen&shy;tial&shy;ly"
| replace: "dooming", "doom&shy;ing"
| replace: "differentiation", "dif&shy;fer&shy;en&shy;ti&shy;a&shy;tion"
| replace: "development", "devel&shy;op&shy;ment"
| replace: "developer", "devel&shy;oper"
| replace: "describe", "de&shy;scribe"
| replace: "demystifying", "de&shy;mys&shy;ti&shy;fy&shy;ing"
| replace: "definition", "def&shy;ini&shy;tion"
| replace: "deadline", "dead&shy;line"
| replace: "customer", "cus&shy;tomer"
| replace: "convince", "con&shy;vince"
| replace: "constraints", "con&shy;straints"
| replace: "confident", "con&shy;fi&shy;dent"
| replace: "condescending", "con&shy;de&shy;scend&shy;ing"
| replace: "competitive", "com&shy;pet&shy;i&shy;tive"
| replace: "compelling", "com&shy;pelling"
| replace: "comparison", "com&shy;par&shy;i&shy;son"
| replace: "company", "com&shy;pa&shy;ny"
| replace: "capabilit", "capa&shy;bil&shy;i&shy;t"
| replace: "balance", "bal&shy;ance"
| replace: "apologies", "apolo&shy;gies"
| replace: "analytics", "ana&shy;lyt&shy;ics"
| replace: "analysis", "analy&shy;sis"
| replace: "alternative", "alter&shy;na&shy;tive"
| replace: "advantage", "ad&shy;van&shy;tage"
| replace: "accurate", "ac&shy;curate"
| replace: "accessed", "ac&shy;cessed"
| replace: "acceptable", "ac&shy;cept&shy;able"
| replace: "Wikipedia", "Wiki&shy;ped&shy;ia"
| replace: "Unreasonable", "Un&shy;rea&shy;son&shy;able"
| replace: "Supporting", "Sup&shy;port&shy;ing"
| replace: "Successes", "Suc&shy;cesses"
| replace: "Statement", "State&shy;ment"
| replace: "Specifying", "Spec&shy;i&shy;fy&shy;ing"
| replace: "Something", "Some&shy;thing"
| replace: "Somebody", "Some&shy;body"
| replace: "Services", "Ser&shy;vices"
| replace: "Secondary", "Sec&shy;ondary"
| replace: "Reviewing", "Review&shy;ing"
| replace: "Resource", "Re&shy;source"
| replace: "Requirement", "Require&shy;ment"
| replace: "Requests", "Re&shy;quests"
| replace: "Reasonable", "Rea&shy;son&shy;able"
| replace: "Question", "Ques&shy;tion"
| replace: "Providing", "Pro&shy;vid&shy;ing"
| replace: "Project", "Proj&shy;ect"
| replace: "Product", "Prod&shy;uct"
| replace: "Problem", "Prob&shy;lem"
| replace: "Probably", "Prob&shy;a&shy;bly"
| replace: "Possible", "Pos&shy;si&shy;ble"
| replace: "Outsourcing", "Out&shy;sourc&shy;ing"
| replace: "Opportunity", "Op&shy;por&shy;tu&shy;ni&shy;ty"
| replace: "McConnell", "Mc&shy;Con&shy;nell"
| replace: "Management", "Man&shy;age&shy;ment"
| replace: "Knowing", "Know&shy;ing"
| replace: "Interested", "In&shy;terest&shy;ed"
| replace: "Indicator", "In&shy;di&shy;cator"
| replace: "Inconsistent", "In&shy;con&shy;sis&shy;tent"
| replace: "Impossible", "Im&shy;pos&shy;si&shy;ble"
| replace: "Important", "Im&shy;por&shy;tant"
| replace: "However", "How&shy;ever"
| replace: "Guaranteed", "Guar&shy;an&shy;teed"
| replace: "Flexibility", "Flex&shy;i&shy;bil&shy;i&shy;ty"
| replace: "Example", "Ex&shy;am&shy;ple"
| replace: "Everybody", "Every&shy;body"
| replace: "Estimation", "Es&shy;ti&shy;ma&shy;tion"
| replace: "Estimate", "Es&shy;ti&shy;mate"
| replace: "Essentially", "Essen&shy;tial&shy;ly"
| replace: "Dooming", "Doom&shy;ing"
| replace: "Differentiation", "Dif&shy;fer&shy;en&shy;ti&shy;a&shy;tion"
| replace: "Development", "Devel&shy;op&shy;ment"
| replace: "Developer", "Devel&shy;oper"
| replace: "Describe", "De&shy;scribe"
| replace: "Demystifying", "De&shy;mys&shy;ti&shy;fy&shy;ing"
| replace: "Definition", "Def&shy;ini&shy;tion"
| replace: "Deadline", "Dead&shy;line"
| replace: "Customer", "Cus&shy;tomer"
| replace: "Convince", "Con&shy;vince"
| replace: "Constraints", "Con&shy;straints"
| replace: "Confident", "Con&shy;fi&shy;dent"
| replace: "Condescending", "Con&shy;de&shy;scend&shy;ing"
| replace: "Competitive", "Com&shy;pet&shy;i&shy;tive"
| replace: "Compelling", "Com&shy;pelling"
| replace: "Comparison", "Com&shy;par&shy;i&shy;son"
| replace: "Company", "Com&shy;pa&shy;ny"
| replace: "Capabilit", "Capa&shy;bil&shy;i&shy;t"
| replace: "Balance", "Bal&shy;ance"
| replace: "Apologies", "Apolo&shy;gies"
| replace: "Analytics", "Ana&shy;lyt&shy;ics"
| replace: "Analysis", "Analy&shy;sis"
| replace: "Alternative", "Alter&shy;na&shy;tive"
| replace: "Advantage", "Ad&shy;van&shy;tage"
| replace: "Accurate", "Ac&shy;curate"
| replace: "Accessed", "Ac&shy;cessed"
| replace: "Acceptable", "Ac&shy;cept&shy;able"
}}
