{% capture exact_word_count %}{{ post.content | number_of_words }}{% endcapture %}
{% assign digit_count = exact_word_count | size %}
{% assign approx_word_count = exact_word_count %}
{% for i in (3..digit_count) %}
{% assign approx_word_count = approx_word_count | divided_by: 10.0 %}
{% endfor %}
{% assign approx_word_count = approx_word_count | plus: 0.5 | floor %}
{% for i in (3..digit_count) %}
{% assign approx_word_count = approx_word_count | append: '0' %}
{% endfor %}

{% assign exact_read_time = approx_word_count | plus: 90 | divided_by: 180 %}
{% if exact_read_time <= 1 %}
{% assign approx_read_time = "1 minute" %}
{% elsif exact_read_time < 5 %}
{% assign approx_read_time = exact_read_time | append: ' minutes' %}
{% else %}
{% assign approx_read_time = exact_read_time | plus: 2 | divided_by: 5 | times: 5 | append: ' minutes' %}
{% endif %}

<div class="post-header">
    {% if include.with-link %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    {% else %}
    <h1>{{ post.title }}</h1>
    {% endif %}
    <ul class="meta">
        {% if post.author %}
        <li><i class="far fa-user fa-xs"></i> {{ post.author }}</li>
        {% endif %}
        {% if post.date %}
        <li><i class="far fa-calendar-alt fa-xs"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time></li>
        {% endif %}
        <li><i class="far fa-clock fa-xs"></i> {{ approx_read_time }} to read {% include number-with-commas.html number=approx_word_count %} words</li>
    </ul>
</div>
