// $dark-cyan OR $navy-blue
// $hot-pink OR $mango-tango

$html-background-color: $black;
$header-text-color: $maya-blue;
$footer-text-color: $white;
$main-background-color: $white;
$main-text-color: $black;
$main-link-color: $navy-blue;
$debug-background-color: $cotton-candy;
$selection-color: $laser-lemon;


@mixin link-text-outline($color) {
  text-shadow:0 0.05em 0 $color, 0 -0.05em 0 $color, 0.05em 0 0 $color, -0.05em 0 0 $color, 0.1em 0 0 $color, -0.1em 0 0 $color, 0 -0.1em 0 $color;
}

@mixin link-underline($fg, $bg) {
  color: $fg;
  @include link-text-outline($bg);
  text-decoration: none;

  &:visited {
    color: darken($fg, 15%);
  }

  &:focus {
    $focus-color: mix($fg, $bg, 15%);
    background-color: $focus-color;
    @include link-text-outline($focus-color);
    outline: none;
  }

  &::selection {
    @include link-text-outline($selection-color);
  }

  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: bottom 0.08em center;
  background-size: 100% 0.07em;
}


*::selection {
  background-color: $selection-color;
}


html {
  background: $html-background-color;
}

body {
  color: $main-text-color;
  background: $main-background-color;
}

header {
  color: $header-text-color;
  background: linear-gradient(to top, change_color($html-background-color, $alpha:0.5) 0, $html-background-color 0.1rem);
}

footer {
  background: linear-gradient(to bottom, #000 0px, $html-background-color 0.25rem);
  color: $footer-text-color;
}

main a {
  @include link-underline($main-link-color, $main-background-color);
}
