html {
  font-size: 60px !important;
}

body {
  background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 50%, $debug-background-color 50%, $debug-background-color 50%, $debug-background-color 100%);
  background-repeat: repeat;
  background-size: 100% (2 * $line-height);
}

header {
  background-color: change_color($html-background-color, $alpha: 0.5);
  a {
    text-shadow: none;
  }
}
