html {
  font-size: 100px !important;
}

body {
  $stripe-height: ($quantization);
  //$line-pos1: 0rem;
  $line-pos1: 0.29rem;
  //$stripe-height: ($vertical-rhythm / 2);
  //$line-pos1: 0.25rem;
  $line-pos2: ($line-pos1 + $stripe-height);
  $color1: transparent;
  $color2: $debug-background-color;
  background-image: linear-gradient(to bottom, $color1 0, $color1 $line-pos1, $color2 $line-pos1, $color2 $line-pos2, $color1 $line-pos2, $color1 100%);
  background-repeat: repeat;
  background-size: 100% (2 * $stripe-height);
}

header, footer {
  background-color: change_color($html-background-color, $alpha: 0.5);
  background-image: none;
  a {
    text-shadow: none;
  }
}

.post-header {
  display: block;
}
