$header-height: (4 * $vertical-rhythm);
$footer-height: (3 * $vertical-rhythm);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  line-height: $vertical-rhythm;
  min-height: 100%;
  position: relative;
}

header, main, footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  max-width: ($vertical-rhythm * 47);
  margin: 0 auto;
}

main {
  padding-top: (2 * $vertical-rhythm + $header-height);
  padding-bottom: (2 * $vertical-rhythm + $footer-height);
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;

  padding-top: (1 * $vertical-rhythm);
  padding-bottom: (1 * $vertical-rhythm);

  img {
    height: (2 * $vertical-rhythm);
    width: auto;
    vertical-align: bottom;
  }
}

footer {
  position: absolute;
  height: ($footer-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.meta li {
  display: inline;
  margin-bottom: (1 * $vertical-rhythm);
  &:first-child, &:nth-child(2) {
    &:after {
      display: inline;
      content: "\A";
      white-space: pre;
    }
  }
  &:nth-child(3):after {
    display: none;
  }
  &:nth-child(4) {
    &:before {
      display: inline;
      content: " (";
    }
    &:after {
      display: inline;
      content: ")";
    }
  }
}

.content {
  clear: both;
}

img {
  max-width: 100%;
}
