* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  line-height: $vertical-rhythm;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
}

main {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.4rem;
  z-index: 1;

  .logo {
    position: absolute;
    top: 20%;
    bottom: 20%;
  }

  .menu {
    display: none;
    position: absolute;
    background: white;
    border-radius: 0.25rem;
    width: 2.4rem;
    height: 2.4rem;
    top: 0.4rem;
    right: 0;
  }

  img {
    width: auto;
    min-height: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
}

footer {
  position: absolute;
  height: ($footer-height);
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  max-width: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: (-2.5 * $vertical-rhythm);
  visibility: hidden;
}

.meta {
  svg {
    vertical-align: baseline;
    width: 1em !important;
    margin-right: 0.25em;
  }
  li {
    padding-right: 0.5rem;
  }
}
