* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  line-height: $vertical-rhythm;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
}

main {
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;

  padding-top: (0.25 * $header-height);
  padding-bottom: (0.25 * $header-height);

  img {
    height: (0.5 * $header-height);
    width: auto;
    vertical-align: bottom;
  }
}

footer {
  position: absolute;
  height: ($footer-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.meta {
  padding-left: $standard-line-height;
  li {
    display: inline;
    &:after {
      display: inline;
      content: "\A";
      white-space: pre;
    }
    &:nth-last-child(2):after {
      display: none;
    }
    &:last-child {
      &:before {
        display: inline;
        content: " (";
      }
      &:after {
        display: inline;
        content: ")";
      }
    }
  }
}

img {
  max-width: 100%;
}


.post-excerpt + .post-header {
  margin-top: (2 * $standard-line-height);
}

.post-excerpt {
  padding-bottom: $standard-line-height;
}


h2 {
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: top 0.51rem center;
  background-size: 100% 0.08em;
}


.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  * {
    flex: 0 0 auto;
    margin-bottom: ($vertical-rhythm);
  }
  h1 {
    flex-grow: 1;
    flex-basis: 19rem;
    max-width: 100%;
  }
  .meta {
    padding-left: 1rem;
    min-width: 12.5rem;
  }
}
