h1 + p {
  margin-top: (1 * $vertical-rhythm);
}

h2 {
  margin-top: (2 * $vertical-rhythm);
}

p + p {
  margin-top: (1 * $vertical-rhythm);
}

#disqus_thread {
  margin-top: (3 * $vertical-rhythm);
}

.post-excerpt {
  margin-bottom: (3 * $vertical-rhythm);
}
