header, main, footer {
  padding-left: 1em;
  padding-right: 1em;
}

main {
  padding-top: (2 * $vertical-rhythm + $header-height);
  padding-bottom: (6 * $vertical-rhythm + $footer-height);
}

.container {
  max-width: $full-width;
}

main .container {
  > * {
    margin-left: auto;
    max-width: $full-width;
  }
  .post-header, > h2 {
    max-width: $full-width;
  }
  .no-indent {
    margin-left: 0;
  }
}

.result:not(:first-child) {
  margin-top: (3 * $vertical-rhythm);
}

.post-header + h2 {
  margin-top: (3 * $vertical-rhythm);
}

h2 {
  margin-top: (4 * $vertical-rhythm);
}

p + h3 {
  margin-top: (1 * $vertical-rhythm);
}

p + .legal {
  margin-top: (1 * $vertical-rhythm);
}
