header, main, footer {
  padding-left: 1em;
  padding-right: 1em;
}

main {
  padding-top: (1 * $standard-line-height + $header-height);
  padding-bottom: (3 * $standard-line-height + $footer-height);
}

.container {
  max-width: $full-width;
}

main .container {
  > * {
    margin-left: auto;
    max-width: $text-width;
  }
  .post-header, > h2 {
    max-width: $full-width;
  }
  .no-indent {
    margin-left: 0;
  }
}

.result:not(:first-child) {
  padding-top: (4 * $standard-line-height);
}

h2 {
  margin-top: (1 * $standard-line-height);
}

:not(.post-header) + h2 {
  margin-top: (1.5 * $standard-line-height);
}

p + h3 {
  margin-top: $vertical-rhythm;
}
