// ratio = 1.2
h1 {
  @include font-values(2.074rem, 0.55rem, $vertical-rhythm);
}

h2 {
  @include font-values(1.44rem, 0.35rem, $vertical-rhythm);
}

.meta {
  @include font-values(0.833rem, 0.55rem, $vertical-rhythm);
}

.copyright {
  @include font-values(0.694rem, 0.55rem, $vertical-rhythm);
}


.meta {
  li {
    &:not(:last-child) {
      &:after {
        display: inline-block;
        content: "-";
        width: (2 * $vertical-rhythm);
        text-align: center;
        opacity: 0.75;
      }
    }
  }
}
