@media (max-width: 45rem) {
  .meta li {
    &:first-child, &:nth-child(2) {
      &:after {
        display: inline;
        content: "\A";
        white-space: pre;
      }
    }
    &:nth-child(3):after {
      display: none;
    }
    &:nth-child(4) {
      &:before {
        display: inline;
        content: " (";
      }
      &:after {
        display: inline;
        content: ")";
      }
    }
  }
}
