
$quantization: 0.42rem;
$vertical-rhythm: 0.84rem;
$header-height: (3 * $vertical-rhythm);
$footer-height: (3 * $vertical-rhythm);

$text-width: 33rem;
$full-width: ($text-width + 0 * $vertical-rhythm);


@function limit_color($color) {
  $exclude-upper: 0.8%;
  $exclude-lower: 13.3%;
  @return lighten(darken($color, ($exclude-lower + $exclude-upper)), $exclude-lower);
}

$black: limit_color(#000000);
$sherpa-blue: limit_color(#004949);
$dark-cyan: limit_color(#009292);
$hot-pink: limit_color(#FF6DB6);
$cotton-candy: limit_color(#FFB6DB);
$indigo: limit_color(#490092);
$navy-blue: limit_color(#006DDB);
$heliotrope: limit_color(#B66DFF);
$maya-blue: limit_color(#6DB6FF);
$columbia-blue: limit_color(#B6DBFF);
$dark-red: limit_color(#920000);
$olive: limit_color(#924900);
$mango-tango: limit_color(#DB6D00);
$free-speech-green: limit_color(#24FF24);
$laser-lemon: limit_color(#FFFF6D);
$white: limit_color(#FFFFFF);


@mixin font-values($font-size, $padding-top:0, $min-padding-bottom:0) {
  $line-height: (ceil($font-size * 1.2 / $vertical-rhythm) * $vertical-rhythm);

  $padding: (ceil(($padding-top + $min-padding-bottom) / $quantization) * $quantization);
  $padding-bottom: ($padding - $padding-top);

  font-size: $font-size;
  line-height: $line-height;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  //border-top: $padding-top solid change_color($laser-lemon, $alpha: 0.5);
  //border-bottom: $padding-bottom solid change_color($free-speech-green, $alpha: 0.5);
}
