@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);


.body-font {
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.heading-font {
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.meta-font {
  @extend .body-font
}

html {
  @extend .body-font;
  font-size: calc(0.7em + 1.5vmin);
}

header {
  @extend .heading-font;
}

h1, h2, h3, h4, h5, h6 {
  @extend .heading-font;
  hyphens: none;
}

.meta {
  @extend .meta-font;
}

.legal {
  @include font-values(0.76rem);
  display: block;
}

h1 {
  @include font-values(1.52rem, 0.11rem);
}

.meta {
  @include font-values(0.87rem, 0.35rem);
}

p {
  @include font-values(1rem, 0.7rem);
}

h2 {
  @include font-values(1.32rem, 0.58rem);

  &:before {
    //background-position: top 0 center;
    background-position: top 0.45rem center;
  }
  &:after {
    //background-position: bottom 0 center;
    background-position: bottom 0.01rem center;
  }

  position: relative;
  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: no-repeat;
  }
  &:before {
    background-size: 100% 0.08em;
  }
  &:after {
    background-size: 100% 0.08em;
  }
}


h3 {
  @include font-values(1.15rem, 0.65rem);
}

h4 {
  @include font-values(1rem, 0.7rem);
}
