@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans+Caption:400,700|PT+Sans:400,700|PT+Serif:400,400i,700,700i');

$line-height: 0.8rem;

@mixin font-values($size, $padding, $line-height) {
  font-size: $size;
  padding-top: $padding;
  padding-bottom: ($line-height - $padding);
  line-height: (ceil($size / $line-height) * $line-height);
}

html {
  font-family: 'PT Serif', serif;
  font-size: calc(0.8em + 1.0vmin);
}

header {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption', sans-serif;
}

h1 {
  @include font-values(1.44rem, 0.35rem, $line-height);
}

h2 {
  @include font-values(1.2rem, 0.425rem, $line-height);
}

p {
  @include font-values(1rem, 0.425rem, $line-height);
}

.meta {
  font-family: 'PT Sans Caption', sans-serif;
  @include font-values(0.833rem, 0.55rem, $line-height);
}

strong {
  font-weight: 700;
  font-size: 1.05em;
}

pre, code {
  font-family: 'PT Mono', monospace;
}

.copyright {
  font-family: 'PT Serif', serif;
  @include font-values(0.833rem, 0.5rem, $line-height);
}
