$font: 'informapro';

// based on distribution of letters in english and a "nice" line length
// aaaaabccdddeeeeeeeeffghhhhiiiiijklllmmnnnnnooooopqrrrrssssttttttuuvwxyz
$full-width: 31.5rem;

.body-font {
  font-family: $font, sans-serif;
}

.heading-font {
  font-family: $font, sans-serif;
  font-weight: 700;
}

.meta-font {
  @extend .body-font
}

html {
  @extend .body-font;
  font-size: calc(0.75em + 1.25vmin);
}

* {
  font-weight: inherit;
}

body {
  font-weight: 300;
}

header {
  @extend .heading-font;
}

h1, h2, h3, h4, h5, h6 {
  @extend .heading-font;
  hyphens: none;
}

.meta {
  @extend .meta-font;
}

.legal {
  @include font-values(0.76rem);
  display: block;
}

h1 {
  @include font-values(1.68rem, 0.07rem);
}

.meta {
  @include font-values(0.87rem, 0.35rem);
}

p {
  @include font-values(1rem, 0.69rem);
}

h2 {
  @include font-values(1.32rem, 0.2rem, 0.2rem);

  &:before {
    //background-position: top 0 center;
    //background-position: top 0.86rem center;
    background-position: top 0.11rem center;
  }
  &:after {
    //background-position: bottom 0 center;
    //background-position: bottom 0.88rem center;
    background-position: bottom 0.52rem center;
  }

  position: relative;
  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: no-repeat;
  }
  &:before {
    background-size: 100% 2px;
  }
  &:after {
    background-size: 100% 2px;
  }
}


h3 {
  @include font-values(1.15rem, 0.64rem);
}

h4 {
  @include font-values(1rem, 0.7rem);
}
